# ServerConfig
AUTH_DB_URL=postgresql+psycopg2://postgres:secret@localhost:5432/niffler-auth
SPEND_DB_URL=postgresql+psycopg2://postgres:secret@localhost:5432/niffler-spend
USERDATA_DB_URL=postgresql+psycopg2://postgres:secret@localhost:5432/niffler-userdata

AUTH_URL=http://auth.niffler.dc:9000
GATEWAY_URL=http://gateway.niffler.dc:8090
FRONTEND_URL=http://frontend.niffler.dc
HEADED=False

GRAPHQL_URL=http://localhost:8090
KAFKA_ADDRESS=kafka:9093
SOAP_URL=http://localhost:8089/ws


# GRPCConfig
CURRENCY_SERVICE_HOST=localhost:8092
CURRENCY_WIREMOCK_HOST=localhost:8094